.new-donation {
    background-color: rgb(31, 31, 31);
    padding: 1rem;
    margin: 2rem auto;
    width: 60%;
    max-width: 95%;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  }
  
  .new-donation button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #0b5b18;
    background-color: #0aad25;
    color: white;
    margin-right: 1rem;
  }
  
  .new-donation button:hover,
  .new-donation button:active {
    background-color: #357b47;
    border-color: #67c380;
  }
  
 