.donation-date {
    display: flex;
    flex-direction: column;
    width: 5.5rem;
    height: 5.5rem;
    border: 1px solid #ececec;
    background-color: #2a2a2a;
    color: white;
    align-items: center;
    justify-content: center;
  }
  
  .donation-month-and-day {
    font-size: 1rem;
    font-weight: bold;
  }
  
  .donation-year {
    font-size: 1rem;
  }
  